.box {
  background-color: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.box div {
    margin: 0 10px 0;
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
}

.box p {
  height: 500px;
  width: 350px;
  border-radius: 4px;
  margin-bottom: 0 !important ;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) bl;
    border-radius: 4px;
}
