.container{
    padding: 40px 0px ;
    display: flex;

}

.container div{
    flex: 2;
    min-width: 400px;
}

.author{
    width: 400px;
    height: auto;
    object-fit: cover;
}


@media screen and (max-width:450px) {
    .author {
    width: 200px;
    height: auto;
    }
    .container div{
        flex: 2;
        min-width: unset;
    }
    
}

@media screen and (max-width:1000px) {
    .container{
        flex-direction: column;
    }
}
