.bg {
  height: 100%;
  background-color: lightblue;
  display: grid;
  justify-content: center;
}

.card {
  margin: 10vh 0;
  background-color: #fff;
  width: 50vw;
  border-radius: 15px;
  height: auto;
}

.title {
  font-size: 30px;
  padding: 10px 20px;
 display: flex;
  width: 100%;
}
.title p{
    flex: 1;
    margin: 0;
}
.title img {
  width: 30px;
  height: 30px;
  cursor: pointer;

}

.img {
  padding: 0 20px;
  width: inherit;
  height: 500px;
  object-fit: cover;
}

.description,
.content {
  margin: 5px 20px;
  padding: 3px 5px;

  font-size: 17px;
}
.description {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgb(161, 161, 161);
}
