div{
    .container{

        transition: 150ms ease-in;
    }
    
    .img{
        
        img{
            width: 100%;
            height: 300px;
            border-radius: 10px 10px 0  0;
            object-fit: cover;
        }
    }
    .img-text{
        background-color: lightblue;
        padding: 1rem;
        font-size: 18px;
        border-radius: 0  0 10px 10px;

    }
}
.img-text button{
    background-color: rgb(27, 99, 141);
    color: white;
    border: 1px solid black ;
    border-radius: 5px ;
    padding: 3px 25px;
    transition: 150ms ease-in;
    margin-top: 20px;
}

.img-text h3{
    margin: 0;
}

.img-text div{
    margin-bottom: 40px;
}
.img-text button:hover{
    background-color: rgb(26, 77, 107);
}

.container:hover{
    transform: translateY( -10px);
}
