.nav {
  width: 100%;
}
.nav-container {
    display: flex;
    left: 5%;
    width: 300px;
    
}
.nav-item {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin: 1.1em;

}

:hover.nav-item{
    border-bottom: 2px solid rgb(255, 216, 40);
}